# Run
httpx
appdirs
ecdsa
ms_cv
pydantic
urwid
yarl

# Dev
pytest
pytest-cov
pylint
respx

# pre-commit
pre-commit==2.20.0
pyupgrade==3.2.0
black==22.10.0
flake8==5.0.4
# flake8-docstrings==1.5.0
pydocstyle==6.1.1
bandit==1.7.4
isort==5.10.1
