{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T01:28:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "2"
          ]
        },
        "method": "GET",
        "uri": "https://achievements.xboxlive.com/users/xuid(2669321029139235)/history/titles"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"titles\":[{\"lastUnlock\":\"2013-11-16T15:37:26.8018568Z\",\"titleId\":1331147,\"serviceConfigId\":\"054b0100-2668-415d-b546-f5f300144fcb\",\"titleType\":\"LiveApp\",\"platform\":\"Durango\",\"name\":\"ESPN\",\"earnedAchievements\":1,\"currentGamerscore\":0,\"maxGamerscore\":0},{\"lastUnlock\":\"2015-04-15T00:22:27.0094276Z\",\"titleId\":16308048,\"serviceConfigId\":\"111f0100-b519-49cc-b26f-a92d00f8d750\",\"titleType\":\"LiveApp\",\"platform\":\"Durango\",\"name\":\"TrueAchievements\",\"earnedAchievements\":6,\"currentGamerscore\":0,\"maxGamerscore\":0},{\"lastUnlock\":\"2015-07-16T16:30:26.5006136Z\",\"titleId\":16468936,\"serviceConfigId\":\"3e770100-834e-4b82-b82c-689a00fb4bc8\",\"titleType\":\"DGame\",\"platform\":\"Durango\",\"name\":\"So Many Me\",\"earnedAch[...]
