{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T01:33:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://achievements.xboxlive.com/users/xuid(2669321029139235)/titleachievements?titleId=1297290392"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"achievements\":[{\"id\":1,\"titleId\":1297290392,\"name\":\"Booster-Bl\u00fcte\",\"sequence\":0,\"flags\":9,\"unlockedOnline\":false,\"unlocked\":false,\"isSecret\":false,\"platform\":255,\"gamerscore\":10,\"imageId\":3,\"description\":\"Eine Gruppe aus Linienl\u00f6schern gemacht\",\"lockedDescription\":\"Mache eine Gruppe aus Linienl\u00f6schern\",\"type\":1,\"isRevoked\":false,\"timeUnlocked\":\"2002-11-15T00:00:00.0000000Z\"},{\"id\":2,\"titleId\":1297290392,\"name\":\"Der Griff nach den Sternen\",\"sequence\":0,\"flags\":9,\"unlockedOnline\":false,\"unlocked\":false,\"isSecret\":false,\"platform\":255,\"gamerscore\":10,\"imageId\":4,\"description\":\"Eine Blumenbombe gemacht\",\"lockedDescription\":\"Mache eine Blumenbombe\",\"type\":1,\"isRevoked\":false,\"timeUnlocked\":\"2002-11-15T00:00:00.0000000Z\"},{\"id\":3,\"titleId\":1297290392,\"name\":\"Foto-Finish\",\"sequence\":0,\"fla[...]
