{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T01:34:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "2"
          ]
        },
        "method": "GET",
        "uri": "https://achievements.xboxlive.com/users/xuid(2669321029139235)/achievements/1370999b-fca2-4c53-8ec5-73493bcb67e5/39"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"achievements\":[{\"id\":\"39\",\"serviceConfigId\":\"1370999b-fca2-4c53-8ec5-73493bcb67e5\",\"name\":\"On My Mark\",\"titleAssociations\":[{\"name\":\"Halo 5: Guardians\",\"id\":219630713}],\"progressState\":\"NotStarted\",\"progression\":{\"requirements\":[{\"id\":\"77f38077-80fc-4d29-9264-e712f311815d\",\"current\":null,\"target\":\"1\",\"operationType\":\"Sum\",\"valueType\":\"Integer\",\"ruleParticipationType\":\"Individual\"}],\"timeUnlocked\":\"0001-01-01T00:00:00.0000000Z\"},\"mediaAssets\":[{\"name\":\"e7c471bc-048e-4db5-b2bb-b8ba529eb2ca.png\",\"type\":\"Icon\",\"url\":\"http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToArPGBBXsy0BgxeTKyXK32EuYv17xALJlk1K1zfmFqaHkmnN6MEpNtqpttKYUBs4n3oxhuGpOVAJjax5sEwSy6UqVUeKyiKOds2fCRxelkRTkQ7Fw2sPeo_ibYF4pKXfUowTVrCw.usmZMVtdJVXbgZ\"}],\"platforms\":[\"Durango\"],\"isSecret\":false,\"description\":\"Simultaneously assassinated two Elites in Blue Team co-op.\",\"lockedDescription\":\"Simultaneously assassinate two Elites in Blue Team co-op.\",\"productId\":\"9a924f64-6ac5-4380-b249-8162269c15cc\",\"achievementType\":\"Persistent\",\"participationType\":\"Individual\",\"timeWindow\":null,\"rewards\":[{\"name\":null,\"description\":null,\"value\":\"10\",\"type\":\"Gamerscore\",\"mediaAsset\":null,\"valueType\":\"Int\"}],\"estimatedTime\":\"00:00:00\",\"deeplink\":null,\"isRevoked\":false}],\"pagingInfo\":{\"continuationToken\":null,\"totalRecords\":1}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "VZhSiHDuEk+jCDvXZyzv/Q.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://achievements.xboxlive.com/users/xuid(2669321029139235)/achievements/1370999b-fca2-4c53-8ec5-73493bcb67e5/39"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}