{
  "http_interactions": [
    {
      "recorded_at": "2018-03-23T11:40:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-client-type": [
            "Companion"
          ],
          "x-xbl-client-version": [
            "2.0"
          ],
          "x-xbl-contract-version": [
            "3.2"
          ],
          "x-xbl-device-type": [
            "WindowsPhone"
          ],
          "x-xbl-isautomated-client": [
            "true"
          ]
        },
        "method": "GET",
        "uri": "https://eds.xboxlive.com/media/en-US/details?MediaGroup=GameType&ids=a3807603-9e22-48b2-8b75-c6bf36ddc511.e0dec6f3-9e8f-4f0c-a93a-acfba29fd890"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"Items\":[{\"MediaGroup\":\"GameType\",\"MediaItemType\":\"DGame\",\"ID\":\"a3807603-9e22-48b2-8b75-c6bf36ddc511\",\"Name\":\"Halo: Spartan Assault\",\"KValue\":\"4\",\"KValueNamespace\":\"bingbox\"},{\"MediaGroup\":\"GameType\",\"MediaItemType\":\"DGame\",\"ID\":\"e0dec6f3-9e8f-4f0c-a93a-acfba29fd890\",\"Name\":\"Halo: Reach\",\"KValue\":\"4\",\"KValueNamespace\":\"bingbox\"}],\"ImpressionGuid\":\"4f9bacd2-a4cf-4458-91e9-19386b5adb3a\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-XblCorrelationId": [
            "4f9bacd2-a4cf-4458-91e9-19386b5adb3a"
          ],
          "x-server-name": [
            "030231"
          ],
          "x-xbl-edscache": [
            "{\"id\":\"a3807603-9e22-48b2-8b75-c6bf36ddc511\",\"prsOwner\":\"011327\",\"fromCache\":\"False\"},{\"id\":\"e0dec6f3-9e8f-4f0c-a93a-acfba29fd890\",\"prsOwner\":\"011127\",\"fromCache\":\"False\"}"
          ],
          "x-xbl-traceid": [
            "2ccfd421938a4de4ab67ffa73fea3d8a"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://eds.xboxlive.com/media/en-US/details?MediaGroup=GameType&ids=a3807603-9e22-48b2-8b75-c6bf36ddc511.e0dec6f3-9e8f-4f0c-a93a-acfba29fd890"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}