{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T11:49:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://gameclipsmetadata.xboxlive.com/users/me/clips?maxItems=25&skipItems=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"gameClips\":[],\"pagingInfo\":{\"continuationToken\":null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "ybAKxzwviUuO/KzP.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://gameclipsmetadata.xboxlive.com/users/me/clips?maxItems=25&skipItems=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}