{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T11:49:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://gameclipsmetadata.xboxlive.com/public/titles/219630713/clips?qualifier=created"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"gameClips\":[{\"gameClipId\":\"0a41be34-e8c0-411c-819b-7ce8fbb9b22a\",\"state\":\"Published\",\"datePublished\":\"2018-03-28T11:48:58.486421Z\",\"dateRecorded\":\"2018-03-28T11:33:23Z\",\"lastModified\":\"2018-03-28T11:48:58.486421Z\",\"userCaption\":\"\",\"type\":\"UserGenerated\",\"durationInSeconds\":29,\"scid\":\"d1adc8aa-0a31-4407-90f2-7e9b54b0347c\",\"titleId\":219630713,\"rating\":0.0,\"ratingCount\":0,\"views\":0,\"titleData\":\"\",\"systemProperties\":\"29667b8d-def2-455e-8a8a-7c6ecb6d9c3b0;\",\"savedByUser\":true,\"achievementId\":\"\",\"greatestMomentId\":\"\",\"thumbnails\":[{\"uri\":\"https://gameclipscontent-t3001.xboxlive.com/xuid-2535435578204478-public/0a41be34-e8c0-411c-819b-7ce8fbb9b22a_Thumbnail.PNG\",\"fileSize\":0,\"thumbnailType\":\"Small\"},{\"uri\":\"https://gameclipscontent-t3001.xboxlive.com/xuid-2535435578204478-public/0a41be34-e8c0-411c-819b-7ce8fbb9b22a_Thumbnail.PNG\",\"fileSize\":0,\"thumbnailType\":\"Large\"}],\"gameClipUris\":[{\"uri\":\"https://gameclipscontent-d3001.xboxlive.com/xuid-2535435578204478-private/0a41be34-e8c0-411c-819b-7ce8fbb9b22a.MP4?sv=2015-12-11&sr=b&si=DefaultAccess&sig=Mj5xR%2FfYdLekvX84dZOAuZ9q7MbZhl%2FUEviMUCfZLc0%3D&__gda__=1522241343_6a1062922633426971b798195856dac6\",\"fileSize\":53116833,\"uriType\":\"Download\",\"expiration\":\"2018-03-28T12:49:03.2160559Z\"}],\"xuid\":\"2535435578204478\",\"clipName\":\"\",\"titleName\":\"System\",\"gameClipLocale\":\"en-NZ\",\"clipContentAttributes\":\"None\",\"deviceType\":\"Scorpio\",\"commentCount\":0,\"likeCount\":0,\"shareCount\":0,\"partialViews\":0},{\"gameClipId\":\"de1a919a-64ad-4ebb-ae54-6a35bb0e7591\",\"state\":\"Published\",\"datePublished\":\"2018-03-28T11:48:31.2552634Z\",\"dateRecorded\":\"2018-03-28T11:29:34Z\",\"lastModified\":\"2018-03-28T11:48:31.2552634Z\",\"userCaption\":\"\",\"type\":\"UserGenerated\",\"durationInSeconds\":28,\"scid\":\"d1adc8aa-0a31-4407-90f2-7e9b54b0347c\",\"titleId\":219630713,\"rating\":0.0,\"ratingCount\":0,\"views\":0,\"titleData\":\"\",\"systemProperties\":\"1b296fd3-a1a2-4e6d-a081-6fb133312caa0;\",[...]
