{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T11:49:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://gameclipsmetadata.xboxlive.com/users/xuid(2669321029139235)/titles/219630713/clips/saved?maxItems=25&skipItems=0"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"gameClips\":[{\"gameClipId\":\"44b7e94d-b3e9-4b97-be73-417be9091e93\",\"state\":\"Published\",\"datePublished\":\"2017-11-10T07:12:27.4353527Z\",\"dateRecorded\":\"2017-11-10T06:29:39Z\",\"lastModified\":\"2017-11-10T07:12:27.4353527Z\",\"userCaption\":\"\",\"type\":\"UserGenerated\",\"durationInSeconds\":28,\"scid\":\"d1adc8aa-0a31-4407-90f2-7e9b54b0347c\",\"titleId\":822567888,\"rating\":0.0,\"ratingCount\":0,\"views\":102,\"titleData\":\"\",\"systemProperties\":\"6a7e1238-2f7b-4c66-835e-c7c799e310490;\",\"savedByUser\":true,\"achievementId\":\"\",\"greatestMomentId\":\"\",\"thumbnails\":[{\"uri\":\"https://gameclipscontent-t3017.xboxlive.com/xuid-2669321029139235-public/44b7e94d-b3e9-4b97-be73-417be9091e93_Thumbnail.PNG\",\"fileSize\":0,\"thumbnailType\":\"Small\"},{\"uri\":\"https://gameclipscontent-t3017.xboxlive.com/xuid-2669321029139235-public/44b7e94d-b3e9-4b97-be73-417be9091e93_Thumbnail.PNG\",\"fileSize\":0,\"thumbnailType\":\"Large\"}],\"gameClipUris\":[{\"uri\":\"https://gameclipscontent-d3017.xboxlive.com/xuid-2669321029139235-private/44b7e94d-b3e9-4b97-be73-417be9091e93.MP4?sv=2015-12-11&sr=b&si=DefaultAccess&sig=lRkjf6USrukD5PCVp3PonFdwX5fD%2FmuLPWpRkIS2ydw%3D&__gda__=1522241341_d651111247d5ca9c1bb8b9244a8cd361\",\"fileSize\":43595475,\"uriType\":\"Download\",\"expiration\":\"2018-03-28T12:49:01.5001828Z\"}],\"xuid\":\"2669321029139235\",\"clipName\":\"\",\"titleName\":\"Danger Zone\",\"gameClipLocale\":\"en-US\",\"clipContentAttributes\":\"None\",\"deviceType\":\"Scorpio\",\"commentCount\":0,\"likeCount\":2,\"shareCount\":0,\"partialViews\":0},{\"gameClipId\":\"f87cc6ac-c291-4998-9124-d8b36c059b6a\",\"state\":\"Published\",\"datePublished\":\"2016-08-16T05:51:40.1354298Z\",\"dateRecorded\":\"2016-08-16T05:40:30Z\",\"lastModified\":\"2016-08-16T05:51:40.1354298Z\",\"userCaption\":\"\",\"type\":\"UserGenerated\",\"durationInSeconds\":27,\"scid\":\"f9d30100-7748-4d1a-b508-524805a3c308\",\"titleId\":94618376,\"rating\":0.0,\"ratingCount\":0,\"views\":653,\"titleData\":\"\",\"systemProperties\":\"56d4ac4e-efcd-4808-8d53-7583859558a4;\",[...]
