{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T14:38:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "DELETE",
        "uri": "https://msg.xboxlive.com/users/xuid(987654321)/inbox/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "MS-CV": [
            "pLJTb9bkH0msyef592FBEw.0"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://msg.xboxlive.com/users/xuid(987654321)/inbox/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}