{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T14:41:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"messageText\": \"Test string\", \"header\": {\"recipients\": [{\"gamertag\": \"NoExist1\"}, {\"gamertag\": \"NoExist2\"}]}}"
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "POST",
        "uri": "https://msg.xboxlive.com/users/xuid(987654321)/outbox"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "MS-CV": [
            "abAWpFMT0k65nuTmX2BgGQ.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://msg.xboxlive.com/users/xuid(987654321)/outbox"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}