{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T14:38:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://msg.xboxlive.com/users/xuid(987654321)/inbox/1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"header\":{\"senderXuid\":1234567890123456,\"sender\":\"NoExist1\",\"sent\":\"2018-03-28T14:15:18Z\",\"expiration\":\"2018-04-27T14:15:18Z\",\"messageType\":\"User\",\"hasText\":true,\"hasPhoto\":false,\"hasAudio\":false,\"messageFolderType\":\"Inbox\"},\"messageText\":\"Test message string, up to 256 characters\",\"attachmentId\":null,\"attachment\":null}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "pj2mlQXPy0eVBpGWoBgz6A.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://msg.xboxlive.com/users/xuid(987654321)/inbox/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}