{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T12:56:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://social.xboxlive.com/users/gt(e)/summary"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"targetFollowingCount\":0,\"targetFollowerCount\":20991,\"isCallerFollowingTarget\":false,\"isTargetFollowingCaller\":false,\"hasCallerMarkedTargetAsFavorite\":false,\"hasCallerMarkedTargetAsKnown\":false,\"legacyFriendStatus\":\"None\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "0kJez+VtmEyBd0MKiUlf3A.0"
          ],
          "x-xbl-machine-hash": [
            "6DC898AAFF976F998C7D3A37C8860F769D48A7CE8F5C1DDEF67787F9CBFB3B19"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://social.xboxlive.com/users/gt(e)/summary"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}