{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T13:04:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"xuids\": [\"2669321029139235\", \"2584878536129841\"]}"
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "POST",
        "uri": "https://social.xboxlive.com/users/me/people/xuids"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"totalCount\":2,\"people\":[{\"xuid\":\"2669321029139235\",\"addedDateTimeUtc\":\"2018-03-28T00:21:05.4625422Z\",\"isFavorite\":false,\"isKnown\":false,\"socialNetworks\":[],\"isFollowedByCaller\":true,\"isFollowingCaller\":true,\"isUnfollowingFeed\":false},{\"xuid\":\"2584878536129841\",\"addedDateTimeUtc\":\"2018-03-28T00:20:35.8047047Z\",\"isFavorite\":false,\"isKnown\":false,\"socialNetworks\":[],\"isFollowedByCaller\":true,\"isFollowingCaller\":false,\"isUnfollowingFeed\":false}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "eqleUf1XTUSLMiJriXG59Q.0"
          ],
          "x-xbl-machine-hash": [
            "0067879FDE89F482F94673483F38E13C9DF66D457B186C2261F49CB6FC7159B3"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://social.xboxlive.com/users/me/people/xuids"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}