{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T12:56:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "1"
          ]
        },
        "method": "GET",
        "uri": "https://social.xboxlive.com/users/me/people"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"totalCount\":2,\"people\":[{\"xuid\":\"2669321029139235\",\"addedDateTimeUtc\":\"2018-03-28T00:21:05.4625422Z\",\"isFavorite\":false,\"isKnown\":false,\"socialNetworks\":[],\"isFollowedByCaller\":true,\"isFollowingCaller\":true,\"isUnfollowingFeed\":false},{\"xuid\":\"2584878536129841\",\"addedDateTimeUtc\":\"2018-03-28T00:20:35.8047047Z\",\"isFavorite\":false,\"isKnown\":false,\"socialNetworks\":[],\"isFollowedByCaller\":true,\"isFollowingCaller\":false,\"isUnfollowingFeed\":false}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "NH0bUGze8EmkWazGWfC4UA.0"
          ],
          "x-xbl-machine-hash": [
            "6DC898AAFF976F998C7D3A37C8860F769D48A7CE8F5C1DDEF67787F9CBFB3B19"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://social.xboxlive.com/users/me/people"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}