{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T13:42:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "3"
          ]
        },
        "method": "GET",
        "uri": "https://userpresence.xboxlive.com/users/me?level=all"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"xuid\":\"2535428504476914\",\"state\":\"Offline\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "nlBFF+75FkeVgg7dthiY8Q.0"
          ],
          "X-ServerName": [
            "xxxxxx010021133"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://userpresence.xboxlive.com/users/me?level=all"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}