{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T13:42:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"onlineOnly\": false, \"users\": [\"2669321029139235\", \"2584878536129841\"], \"level\": \"user\"}"
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-xbl-contract-version": [
            "3"
          ]
        },
        "method": "POST",
        "uri": "https://userpresence.xboxlive.com/users/batch"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"xuid\":\"2669321029139235\",\"state\":\"Offline\",\"lastSeen\":{\"deviceType\":\"Android\",\"titleId\":\"328178078\",\"titleName\":\"\",\"timestamp\":\"2018-03-28T00:26:51.392459Z\"}},{\"xuid\":\"2584878536129841\",\"state\":\"Offline\",\"lastSeen\":{\"deviceType\":\"XboxOne\",\"titleId\":\"750323071\",\"titleName\":\"\",\"timestamp\":\"2018-03-27T02:19:03.1204387Z\"}}]"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "3KXo6ClblUu+AYTxe5wEhQ.0"
          ],
          "X-ServerName": [
            "xxxxxx010021133"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://userpresence.xboxlive.com/users/batch"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}