{
  "http_interactions": [
    {
      "recorded_at": "2018-03-28T01:01:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "2"
          ]
        },
        "method": "GET",
        "uri": "https://profile.xboxlive.com/users/xuid(2669321029139235)/profile/settings?settings=AppDisplayName%2CGamerscore%2CGamertag%2CPublicGamerpic%2CXboxOneRep"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"profileUsers\":[{\"id\":\"2669321029139235\",\"hostId\":\"2669321029139235\",\"settings\":[{\"id\":\"AppDisplayName\",\"value\":\"e\"},{\"id\":\"Gamerscore\",\"value\":\"89410\"},{\"id\":\"Gamertag\",\"value\":\"e\"},{\"id\":\"PublicGamerpic\",\"value\":\"http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToBrrCmIEEXHC9UNrdJ6P7KIl_5PaIHeJ592LG1L.uCOWneEDBhHctvuC06CzW38LKNYiVGTXqxcsQqYGIrr8hFz\"},{\"id\":\"XboxOneRep\",\"value\":\"GoodPlayer\"}],\"isSponsoredUser\":false}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "pk5J7aAxZE2YNUDpzi9W9w.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://profile.xboxlive.com/users/xuid(2669321029139235)/profile/settings?settings=AppDisplayName%2CGamerscore%2CGamertag%2CPublicGamerpic%2CXboxOneRep"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}