{
  "http_interactions": [
    {
      "recorded_at": "2018-03-29T16:46:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "x-xbl-contract-version": [
            "5"
          ]
        },
        "method": "GET",
        "uri": "https://screenshotsmetadata.xboxlive.com/public/titles/219630713/screenshots/saved?qualifier=created"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"screenshots\":[{\"screenshotId\":\"013ccd76-95a8-4bff-bbfc-58b3fa40e7a8\",\"resolutionHeight\":720,\"resolutionWidth\":1280,\"state\":\"Published\",\"datePublished\":\"2018-03-29T16:46:45.8585941Z\",\"dateTaken\":\"2018-03-29T16:46:14Z\",\"lastModified\":\"2018-03-29T16:46:14Z\",\"userCaption\":\"\",\"type\":\"UserGenerated\",\"scid\":\"d1adc8aa-0a31-4407-90f2-7e9b54b0347c\",\"titleId\":219630713,\"rating\":0.0,\"ratingCount\":0,\"views\":0,\"titleData\":\"\",\"systemProperties\":\"7a86a1df-a1b5-49f4-86f1-d5aadefb83400;\",\"savedByUser\":true,\"achievementId\":\"\",\"greatestMomentId\":null,\"thumbnails\":[{\"uri\":\"https://screenshotscontent-t5001.xboxlive.com/xuid-2535460013312229-public/013ccd76-95a8-4bff-bbfc-58b3fa40e7a8_Thumbnail.PNG\",\"fileSize\":0,\"thumbnailType\":\"Small\"},{\"uri\":\"https://screenshotscontent-t5001.xboxlive.com/xuid-2535460013312229-public/013ccd76-95a8-4bff-bbfc-58b3fa40e7a8_Thumbnail.PNG\",\"fileSize\":0,\"thumbnailType\":\"Large\"}],\"screenshotUris\":[{\"uri\":\"https://screenshotscontent-d5001.xboxlive.com/xuid-2535460013312229-private/013ccd76-95a8-4bff-bbfc-58b3fa40e7a8.PNG?sv=2015-12-11&sr=b&si=DefaultAccess&sig=9R%2FeI5EL%2BDDlIlwIcz9rnpLWIyv9%2F5%2BOYiEMeYTmyQY%3D\",\"fileSize\":1373197,\"uriType\":\"Download\",\"expiration\":\"2018-03-29T17:46:56.5653857Z\"}],\"xuid\":\"2535460013312229\",\"screenshotName\":\"\",\"titleName\":\"Halo 5: Guardians\",\"screenshotLocale\":\"es-MX\",\"screenshotContentAttributes\":\"None\",\"deviceType\":\"Edmonton\"},{\"screenshotId\":\"34564b38-0d8a-4ea4-973e-814160ad91b1\",\"resolutionHeight\":1080,\"resolutionWidth\":1920,\"state\":\"Published\",\"datePublished\":\"2018-03-29T16:46:33.4309282Z\",\"dateTaken\":\"2018-03-29T16:46:20Z\",\"lastModified\":\"2018-03-29T16:46:20Z\",\"userCaption\":\"\",\"type\":\"UserGenerated\",\"scid\":\"d1adc8aa-0a31-4407-90f2-7e9b54b0347c\",\"titleId\":219630713,\"rating\":0.0,\"ratingCount\":0,\"views\":0,\"titleData\":\"\",\"systemProperties\":\"c6a164d8-e2ba[...]
