{
  "http_interactions": [
    {
      "recorded_at": "2018-03-29T11:16:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"arrangebyfield\": \"xuid\", \"stats\": [{\"titleId\": 1717113201, \"name\": \"MinutesPlayed\"}], \"groups\": [{\"titleId\": 1717113201, \"name\": \"Hero\"}], \"xuids\": [\"2584878536129841\"]}"
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-xbl-contract-version": [
            "2"
          ]
        },
        "method": "POST",
        "uri": "https://userstats.xboxlive.com/batch"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"groups\":[{\"name\":\"Hero\",\"titleid\":\"1717113201\",\"statlistscollection\":[{\"arrangebyfield\":\"xuid\",\"arrangebyfieldid\":\"2584878536129841\",\"stats\":[{\"groupproperties\":{\"Ordinal\":\"1\",\"SortOrder\":\"Descending\",\"DisplayName\":\"Gold Hoarder Chests Cashed In\",\"DisplayFormat\":\"Integer\",\"DisplaySemantic\":\"Best\"},\"xuid\":\"2584878536129841\",\"scid\":\"00000000-0000-0000-0000-000066591171\",\"name\":\"ChestsCashedIn\",\"type\":\"Double\",\"value\":\"5\",\"properties\":{\"DisplayName\":\"Gold Hoarder Chests Cashed In\"}},{\"groupproperties\":{\"Ordinal\":\"2\",\"SortOrder\":\"Descending\",\"DisplayName\":\"Distance Sailed (Metres)\",\"DisplayFormat\":\"Integer\",\"DisplaySemantic\":\"Best\"},\"xuid\":\"2584878536129841\",\"scid\":\"00000000-0000-0000-0000-000066591171\",\"name\":\"DistanceSailed\",\"type\":\"Double\",\"value\":\"92173\",\"properties\":{\"DisplayName\":\"Distance Sailed (Metres)\"}},{\"groupproperties\":{\"Ordinal\":\"3\",\"SortOrder\":\"Descen[...]
