{
  "http_interactions": [
    {
      "recorded_at": "2018-03-29T11:21:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"xuids\": [\"2669321029139235\"], \"arrangebyfield\": \"xuid\", \"groups\": [{\"name\": \"Hero\", \"scid\": \"1370999b-fca2-4c53-8ec5-73493bcb67e5\"}], \"stats\": [{\"scid\": \"1370999b-fca2-4c53-8ec5-73493bcb67e5\", \"name\": \"MinutesPlayed\"}]}"
        },
        "headers": {
          "Authorization": [
            "XBL3.0 x=<UHS>;<JWT>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "x-xbl-contract-version": [
            "2"
          ]
        },
        "method": "POST",
        "uri": "https://userstats.xboxlive.com/batch"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"groups\":[{\"name\":\"Hero\",\"statlistscollection\":[]}],\"statlistscollection\":[{\"arrangebyfield\":\"xuid\",\"arrangebyfieldid\":\"2669321029139235\",\"stats\":[{\"groupproperties\":{},\"xuid\":\"2669321029139235\",\"scid\":\"1370999b-fca2-4c53-8ec5-73493bcb67e5\",\"name\":\"MinutesPlayed\",\"type\":\"Integer\",\"value\":\"1220\",\"properties\":{}}]}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "MS-CV": [
            "nIpOmEW1o0ij+1TjeGSL0A.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://userstats.xboxlive.com/batch"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}